In [1]:
import re

In [311]:
class ParseException(Exception):
    pass

def parse_tokens(tokens):
    if tokens:
        return tokens[0]
    else:
        raise ParseException("Could not parse the SQL query")

In [303]:
## SELECT Query

select_query_1 = """
SELECT a,b,c
FROM tablename 
where x=10 and y=20
limit 1"""

def parse_select(statement):
    tokens = re.findall(
        r'(?i)select\s+(.*?)\s+from\s+(.*?)\s+where\s+(.*?)\s+?limit\s+(\d)', statement)
    return parse_tokens(tokens)

print(parse_select(select_query_1))

('a,b,c', 'tablename', 'x=10 and y=20', '1')

In [304]:
## CREATE Query

create_database = "create database dbname"
create_table = "create table tablename"

def parse_create(statement):
    tokens = re.findall(
        r'(?i)create\s+(table|database)\s+([a-zA-Z_]*)', statement)
    return parse_tokens(tokens)

print(parse_create(create_database))
print(parse_create(create_table))

('database', 'dbname')
('table', 'tablename')

In [312]:
## INSERT Query

insert_table_1 = """
INSERT 
INTO
person(id,age,name) 
VALUES(1,23,'Abel')
"""
insert_table_2 = "INSERT INTO person (id,age,name) VALUES (2,29,'Frank')"

def parse_create(statement):
    tokens = re.findall(
        r'INSERT\s+INTO\s+([a-zA-Z_]*).*\((.*?)\).*\s+VALUES.*\((.*?)\)', statement)
    return parse_tokens(tokens)

print(parse_create(insert_table_1))
print(parse_create(insert_table_2))

('person', 'id,age,name', "1,23,'Abel'")
('person', 'id,age,name', "2,29,'Frank'")